/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.more-info {
  background: url("../images/misc/icons-sprite.png") no-repeat scroll -72px -69px transparent;
  color: #EA222A;
  float: right;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 160%;
  font-size: 110%;
  vertical-align: middle;
}

/* -----------------------------------------
   Home
----------------------------------------- */
.banner h3{
    color: #FFF;
}

.banner p{
    color: #FFF;
    font-size: 18px;
    line-height:  26px;
}

.banner .row{
    padding: 10px 0 10px;
}


.category{
    
}
.category h2{
    font-size: 28px;
    color: #d13030;
    font-weight: normal;
}

.category p{
    color: #333;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
}

.category .img-box{
    background: #FFF;
    padding: 3px 5px;
    margin: 20px 0;
    box-shadow: 3px 3px 3px #444;
    text-align: center;
}

.footer{}
.footer h5{
    color: #FFF;
    border-bottom: 1px solid #6b6b6b;
    margin-bottom: 10px;
}

    .footer .whats-new .news-title{
        color: #f53b3b;
        font-size: 14px;
        font-weight: bold;
    }

    .footer .whats-new p{
        color: #FFF;
        font-size: 12px;
        margin-bottom: 0;
    }
    
    .read-more, .read-more:hover{
        color: #f53b3b;
        float:right;
        font-style: italic;
        text-decoration: underline;
        font-size: 12px;
    }
    
    .footer .phone, .footer .mail, .footer .lbl-address {
        background: url("../images/misc/icons-sprite.png") no-repeat scroll -7px -8px transparent;
        color: #898989;
        display: block;
        font-style: italic;
        line-height: 24px;
        padding-left: 24px;
        text-decoration: none;
    }
    
    .footer .mail{
        background-position: -39px -33px;
    }
    
    
    .footer .phone-num, .footer .mail-add{
        line-height: 24px;
        color: #FFF;
        font-weight: bold;
    }
    
    .footer .mail-add a{
        color: #f53b3b;
    }
    
    .footer .lbl-address{
        background-position: -106px -100px;
        float: left;
    }
    
    .footer .address{
        float:right;
        color: #FFF;
        line-height: 24px;
    }
    
    .footer .copyright{
        border-top: 1px solid #000000;
        color: #454545;
        margin-top: 10px;        
        font-size: 10px;
        padding-top: 10px;
    }
/* -----------------------------------------
   Product
----------------------------------------- */

/* Product Banner
	-------------------------------------------------- */
	.product-banner{
	  background: url("../images/misc/product-banner-bg.png") repeat-x left center;
	  height:170px;
	}
	.product-banner .row{
	  padding:20px 0;
	  overflow:hidden;
	}
	.product-banner .row h3{
	  font-size:200%;
	  text-transform:uppercase;
  }
  .product-banner .row p{
	  color: #FFF; 
 		font-size:140%;
 		line-height:140%;
  }	

/* Product Sidebar
	-------------------------------------------------- */
	.row .four.columns.sidebar{
	  width:28.4%;
	}
	.sidebar{
	  padding-right:2%;
	}
	.sidebar .nav{}
	.sidebar .nav .parent{}
  .sidebar .nav ul.lvl-1{}
  .sidebar a{
    display:block;
  }
    
  /**  First Level **/
  .sidebar ul{
    margin:0;padding:0;
  } 
  .sidebar ul li{}
  .sidebar ul li a{
    font-size:160%;
    font-weight:600;
    padding:5px 0;
    border-bottom:2px solid #d13030;
    color: #d13030;
  }
    
  /** 2nd Level **/
  .sidebar ul ul{
    margin:0;padding:0;    
  } 
  .sidebar ul ul li{}
  .sidebar ul ul li a{
    color: #747474;
    font-size:100%;
    border-bottom:1px dotted #747474;
  }

  /** 3rd Level **/    
  .sidebar ul ul ul{
    margin:0 0 0 15px;
    padding:0;    
  }
  .sidebar ul ul ul li{} 
    
           
/* Product Content
	-------------------------------------------------- */
  .product.content{
    padding: 20px 0;
  }
  .product .sidebar{
    
  }
  .product .row .eight.columns{
    margin-left: 0;
    padding-left: 4.4%;
  }
  .product .main{
    background: url("../images/misc/sidebar-divider.png") repeat-y left top;
    min-height:600px;
  }
  .product .item{
    background: url("../images/misc/horizontal-divider.png") repeat-x left top;
    padding:15px 0;
  }
  